@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-color: #141414;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;

}

body .page{
  margin: 20px 50px;
}

nav{
  display:flex ;
  flex-wrap:wrap;
  justify-content: space-between;
  position:sticky;
  top: 0;
  background-color: #141414;
  padding: 10px 0px;
}

nav .onglets{
  display:flex;
  flex-wrap:wrap;
  margin-top: 5px;
}

nav .onglets{
  display:flex;
  flex-wrap:wrap;
}

nav .onglets a {
  margin-right: 20px;
  cursor:pointer;
  text-decoration: none;
  color: #fff;
}

nav .buttons button{
  padding: 13px 20px;
  color: #fff;
  border:none;
  font-size: 15px;
  cursor:pointer;
  outline:none;
}

nav .buttons .login{
  background-color: inherit;
  margin-right: 10px;
  color: #8f8f8f;
}

nav .buttons .register{
  background-color: #f54266;
}

header{
  margin-top: 40px;
  background: url('https://officialpsds.com/imageview/rn/62/rn6205_large.png?1521316483');
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: center;
  padding: 140px;
}

header h1{
  text-align:center;
  font-size: 60px;
  transition: transform 2.5s;
  text-shadow: 4px 4px 4px black;
}

header h2{
  text-align:center;
  font-size: 35px;
  transition: transform 2.5s;
  text-shadow: 1px 1px 2px black;
}

footer{
  background-color: #1a1a1a;
  padding: 50px 100px;
  color:#828282;
}

div.musiques img{
  cursor:pointer;
  border-radius: 40px;
  width: 360px;
  height: 360px;
  padding: 20px 25px;
  box-shadow: 10px 5px 5px black;
  margin: 75px;

}
